ConfluxAI/n8n_workflows/AI agent.json
{
  "name": "AI agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "always search the vector database (pinecone) first. then decide if u want to refers the other tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        -112
      ],
      "id": "b31e7973-16f3-4529-bea5-199f0409f73e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bdd9a358-e97e-4da2-8aed-6fd474dec5a7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -48
      ],
      "id": "ef9203fd-56e0-4335-a9ed-b7299d5b79e7",
      "name": "Webhook",
      "webhookId": "bdd9a358-e97e-4da2-8aed-6fd474dec5a7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        272
      ],
      "id": "7856a4d6-57fb-482f-931f-1eee91bd2618",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0APeLw1yZm1Relxl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        -80
      ],
      "id": "20bfba88-79ba-4fc2-a536-304572828534",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.source }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        160
      ],
      "id": "a654f3f8-30c6-441d-8eec-a988565dedff",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        368,
        256
      ],
      "id": "94a55f53-0589-4415-b0e7-522db91d9f18",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "f5ziGMv38tcfRyid",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve relevant information from pinecone database",
        "pineconeIndex": {
          "__rl": true,
          "value": "index2",
          "mode": "list",
          "cachedResultName": "index2"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        576,
        128
      ],
      "id": "0e0b0ff4-dfd8-46a8-bc19-a64228a3c3be",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "g8deX4j2MOCEJz8o",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        336
      ],
      "id": "f503962d-2a5b-4fe3-8b6e-e51c94253af2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qNeo4iE7bxaRRs5g",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "Taylor Swift is currently the most searched woman and singer, and Donald Trump is the most searched man. However, these are current trends and predicting the most searched celebrity for 2025 is difficult as popularity can change rapidly."
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1ade7b2-aa09-48d3-b42a-42ac66bb74e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6499e5de7985ff0038ea0e0c452fe8b107bfa42ac278b66233ecd909148ffaf0"
  },
  "id": "pJv7krOntcatgTc5",
  "tags": []
}