ConfluxAI/n8n_workflows/audio processing.json
{
  "name": "audio processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2bb25d11-1ed8-4299-9ef4-f5bf091c3695",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        0
      ],
      "name": "Webhook (Image Upload)",
      "id": "26cffcf4-f243-4558-94b7-33b6a0664d58",
      "webhookId": "2bb25d11-1ed8-4299-9ef4-f5bf091c3695"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        176
      ],
      "id": "bcecb478-3230-40a0-b3ff-89822a6beed6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        -64
      ],
      "id": "2982cfc5-4fbe-47c2-aa80-de6e4ac1e710",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qNeo4iE7bxaRRs5g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content.parts[0] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        -48
      ],
      "id": "425abbab-0279-461b-bc37-d79a57f8b93f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "text": "give the transcription of the audio",
        "inputType": "binary",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "88bc6e43-ff31-4db0-82dd-ea602f338479",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "0APeLw1yZm1Relxl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "index2",
          "mode": "list",
          "cachedResultName": "index2"
        },
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        -272
      ],
      "name": "Pinecone Vector Store (Audio)",
      "id": "eedeccda-7c95-485a-b455-8426c34550ee",
      "credentials": {
        "pineconeApi": {
          "id": "g8deX4j2MOCEJz8o",
          "name": "PineconeApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Image Upload)": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Audio)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store (Audio)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store (Audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Audio)": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d1f2101-dba3-40d0-86e7-b6057d8c83b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6499e5de7985ff0038ea0e0c452fe8b107bfa42ac278b66233ecd909148ffaf0"
  },
  "id": "6Wlpvdx0gq2CpVej",
  "tags": []
}